byteracer/config/
byteracer/logs/
byteracer/modules/robot-hat-custom/
byteracer/modules/vilib-custom/
byteracer/modules/picarx-custom/
byteracer/modules/*-custom.legacy.*/
byteracer/scripts/*.log
relaytower/.next/
relaytower/out/
relaytower/node_modules/
eaglecontrol/node_modules/
*.pyc
__pycache__/
